body {
	--fsAddBuffer: 22px;
}
[id='whoscored_incontent_1'],
[id='whoscored_incontent_3'],
[id='whoscored_incontent_2'],
[id='whoscored_incontent_medrec_left'],
[id='whoscored_incontent_medrec_right'],
[id='whoscored_siderail_right_3'],
[id='whoscored_siderail_right_1'],
[id='whoscored_siderail_right_2'],
[id='whoscored_incontent_medrec_right_3'],
[id='whoscored_incontent_medrec_left_2'],
[id='whoscored_incontent_medrec_left_3'],
[id='whoscored_incontent_medrec_right_2'] {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	min-height: calc(var(--height) + var(--fsAddBuffer));
	width: 100%;
}
[id='whoscored_incontent_1'] {
		--height: 280px;
}
[id='whoscored_incontent_2'] {
		--height: 280px;
}
[id='whoscored_incontent_3'] {
		--height: 280px;
}
[id='whoscored_incontent_medrec_left'] {
		--height: 280px;
}
[id='whoscored_incontent_medrec_left_2'] {
		--height: 280px;
}
[id='whoscored_incontent_medrec_left_3'] {
		--height: 280px;
}
@media only screen and (min-width: 674px) {
	[id='whoscored_incontent_1'] {
		--height: 280px;
	}
	[id='whoscored_incontent_2'] {
		--height: 280px;
	}
	[id='whoscored_incontent_3'] {
		--height: 280px;
	}
}
@media only screen and (min-width: 768px) {
	[id='whoscored_incontent_medrec_left'] {
		--height: 280px;
	}
	[id='whoscored_incontent_medrec_left_2'] {
		--height: 280px;
	}
	[id='whoscored_incontent_medrec_left_3'] {
		--height: 280px;
	}
	[id='whoscored_incontent_medrec_right'] {
		--height: 280px;
	}
	[id='whoscored_incontent_medrec_right_2'] {
		--height: 280px;
	}
	[id='whoscored_incontent_medrec_right_3'] {
		--height: 280px;
	}
	[id='whoscored_siderail_right_1'] {
		--height: 250px;
	}
	[id='whoscored_siderail_right_2'] {
		--height: 600px;
	}
}
@media only screen and (min-width: 1324px) {
	[id='whoscored_siderail_right_3'] {
		--height: 600px;
	}
}
@media only screen and (min-width: 1584px) {
	[id='whoscored_siderail_right_3'] {
		--height: 600px;
	}
}
